* {
  margin: 0;
  padding: 0;
}

@media  screen and (max-width: 600px) {
  body {
    grid-template-columns: [header] 1fr [main] 3fr [mainend] 1fr [ending];
    grid-template-rows: [header] 1fr[textArea] 6fr [main] 1fr [mainend] 1fr [ending];
  }
}

body {
  background-color: lightgray;
  display: grid;
  grid-template-columns: [header] 1fr [main] 3fr [mainend] 1fr [ending];
  grid-template-rows: [header] 1fr[textArea] 1fr [main] 5fr [mainend] 1fr [ending];

  width: 100vw;
  height: 100vh;
}

h2{
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5); 
  
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 60%;
}

.textArea {
  grid-row: textArea / main;
  grid-column: main / mainend;

  text-align: center;
}

.ballArea {
  grid-row: main / mainend;
  grid-column: main / mainend;

  background-image: url("ball.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;

  display: grid;

  grid-template-rows: [beginning] 2fr [middleline] 1fr [endline];
}

#content {
  grid-row: beginning/middleline;
  text-align: center;
  margin-top: 25%;
  color: white;

}
@media screen and (max-width: 992px) {
    #content{
      margin-top: 80%;
    }
  }

.buttonarea {
  grid-row: middleline / endline;
}
